.App-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 70vh;
    width: 100%;
    gap: 3rem;
  }
  p{
    text-align: center;
    font-size: 30px;
    color: #001529;
  }
  .lesP{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  h1{
    font-size: 50px;
    color: #001529;
  }
  .buttonW{
    Font-size: 18px;
    height: 2rem;
    width: 5rem;
    background-color: #1677ff;
  }
  .inputW[type='text']{
    font-size: 20px;
    height: 2.5rem;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    border: solid 1px #001529;
    color: #001529;
    user-select: none;
    padding-left: 1rem;
  }
  .inputW:focus{
    outline: none;
  }
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }